.top-games {
    background-color: var(--primary-bg);

    h2 {
        font-size: 1.5rem; /* Equivalent to text-3xl */
        font-weight: 700; /* Equivalent to font-bold */
        color: white; /* Ensures text is white */
        padding-top: 2.5rem; /* Equivalent to mb-6 */
        // padding-left: 3.5rem;
      }
    
      span {
        // color: #3b82f6; /* Equivalent to text-blue-500 */
        border-left: 4px solid #3b82f6; /* Equivalent to border-l-4 border-blue-500 */
        padding-left: 1rem; /* Equivalent to pl-2 */
      }

    .games-list {
        display: flex; /* Flexbox for horizontal layout */
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
      }
  
    .game-card {
      transition: transform 0.3s ease-in-out;
      padding: 20px 0;
      // padding-inline: 10px;
      
      &:hover {
        transform: scale(1.05);
      }
  
      
    }
  
    /* Image size control */
    .game-image {
      width: 180px; /* Set a fixed width */
      height:auto; /* Set a fixed height */
      object-fit: cover; /* Ensure the image scales properly */
    //   border-radius: 8px; /* Apply rounded corners */
    }
  }
  