@import url('https://fonts.google.com/specimen/Poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins', sans-serif;
    @apply text-primary-text;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-light-black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
